{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management System</title>
    <link rel="stylesheet" href="{% static 'user_app/styling.css' %}">
</head>
<body>

    <div class="container">
        <h1>User Management System</h1>

        <form method="post" action="{% url 'set_role' %}">
            {% csrf_token %}
            <button type="submit" name="role" value="superadmin" class="main-btn">
                Login as Super Admin
            </button>
        </form>

        <br><br>

        <form method="post" action="{% url 'set_role' %}">
            {% csrf_token %}
            <button type="submit" name="role" value="user" class="main-btn">
                Login as User
            </button>
        </form>
    </div>

</body>
</html>
