{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | User Management System</title>
    <link rel="stylesheet" href="{% static 'user_app/styling.css' %}">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="message {{ message.tags }}">
                {{ message }}
            </p>
        {% endfor %}
    </div>
{% endif %}


        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="role" value="{{ role }}">
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="Enter your email"
                    required
                >
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    placeholder="Enter your password"
                    required
                >
                <div class="show-password">
    <span>Show password</span>
    <input type="checkbox" id="showPassword" onclick="togglePassword()">
</div>
            </div>

            <button type="submit" class="login-btn">
                Login
            </button>
        </form>
    </div>
<script>
        function togglePassword() {
            const pwd = document.getElementById("password");
            pwd.type = pwd.type === "password" ? "text" : "password";
        }
    </script>
</body>
</html>
