{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="{% static 'user_app/styling.css' %}">
</head>
<body>
{% if messages %}
  {% for message in messages %}
    <script>
      alert("{{ message|escapejs }}");
    </script>
  {% endfor %}
{% endif %}
    <div class="users-container">
        <h2>Users List</h2>

        <ul class="users-list">
            {% for user in users %}
                <li class="user-item">
                    <span>{{ user.email }}</span>
                    <span class="user-role">{{ user.role }}</span>
                </li>
            {% endfor %}
        </ul>

        <a href="javascript:history.back()" class="back-link">
            ← Go Back
        </a>
    </div>

</body>
</html>
