{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'user_app/styling.css' %}">
</head>
<body>

{% if messages %}
  {% for message in messages %}
    <script>
      alert("{{ message }}");
    </script>
  {% endfor %}
{% endif %}

<div class="login-container" style="width: 520px;">
    <h2>Welcome, User</h2>

    <div class="section">
        <h3>View All Users</h3>
        <a href="{% url 'view_users' %}">
            <button class="login-btn">View Users</button>
        </a>
    </div>

    <br>

    <div class="section">
        <h3>View User Details</h3>
        <form method="GET" action="{% url 'user_details' %}">
            <div class="form-group">
                <label>User Email</label>
                <input type="email" name="email" placeholder="Enter user email" required>
            </div>

            <button type="submit" class="login-btn">
                View Details
            </button>
        </form>
    </div>

    <a href="{% url 'logout' %}">
        <button class="login-btn" style="background:#555;">
            Logout
        </button>
    </a>
</div>

</body>
</html>
